.bg-header {
  background-color: #02152d !important;
  margin-bottom: 30px;
}
.user-info {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 10px;
}

// .show {
//   display: block !important; /* !important to override the Bootstrap style if necessary */
// }
