.card-header {
  cursor: pointer;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  margin: 1rem;
  width: auto;
}

.card-body {
  padding: 0.5rem 1rem;
}

.btn-success {
  margin-top: 0.5rem;
}
