<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="login()">
        <!-- Username Input -->
        <div class="mb-3">
          <label for="username" class="form-label">User name</label>
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            class="form-control"
            id="username"
            placeholder="Enter your username"
            required
          />
        </div>
        <!-- Password Input -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
        <div class="text-center">
          <p>For demo purposes, username and password both are <strong>test</strong></p>
        </div>
      </form>
    </div>
  </div>
</div>
